{
    "printWidth": 400,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": true
}
